# Ignore everything
/*

# Don't ignore specific files (the specific R package structure)
!README.md
!/.github
!/R
!/src
!/man
!/data
!/inst
!/tests
!/vignettes
!DESCRIPTION
!NAMESPACE
!NEWS.md
!CLAUDE.md
!dev_setup.R
!cran-comments.md
!.gitignore
!.Rbuildignore

# Add specific files again to ignore
*~
.Rhistory
/tests/testthat/Rplots.pdf
